<nav class="sidenav">
  <div class="sidenav-header">
    <h1>MY APP</h1>
    <button (click)="toggleSidenav()">Toggle Menu</button>
  </div>
  <ul style="margin-top: 10px;">
    <li *ngFor="let item of menu">
      <div class="menu-item" (click)="toggleTopLevel(item)">
        <span class="icon">{{ item.icon }}</span>
        {{ item.label }}
        <span *ngIf="item.children">▾</span>
      </div>

      <ul class="sub-menu" [class.open]="item.expanded">
        <li *ngFor="let child of item.children">
          <div class="menu-item" (click)="toggleChild(child)">
            <span class="icon">{{ child.icon }}</span>
            {{ child.label }}
            <span *ngIf="child.children">▾</span>
          </div>

          <ul class="sub-menu" [class.open]="child.expanded">
            <li *ngFor="let sub of child.children">
              <a
                [routerLink]="sub.route"
                [class.active]="isActive(sub.route)"
              >
                <span class="icon">{{ sub.icon }}</span>
                {{ sub.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
