.sidenav {
  width: 240px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #263238;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.menu-item {
  padding: 8px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  transition: background 0.2s;
  color: #fff;
}

.menu-item:hover {
  background: #e5e7eb;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 10px;
  color: #fff;
}

.sub-menu.open {
  max-height: 1000px; /* 충분히 큰 값 */
}

a {
  display: block;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

a.active {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
}

.icon {
  margin-right: 6px;
  width: 20px;
  display: inline-block;
  text-align: center;
}

.sidenav-header {
  display: flex;
  align-items: center;
  padding: 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background: #1f2937;
  z-index: 1;
}