<!-- 페이지 타이틀 컴포넌트 사용 예시 -->
<app-page-title
    title="대시보드"
    subtitle="시스템 현황 및 주요 기능을 확인할 수 있습니다"
    icon="fas fa-tachometer-alt"
    size="small">
</app-page-title>

<form [formGroup]="form">
<div class="container">

    <app-input class="item" label="이메일" placeholder="example@email.com" formControlName="email" ></app-input>
    <app-combobox
        class="item"
        formControlName="country"
        [options]="countries"
        placeholder="Select country"
        (selectionChange)="onCountryChanged($event)">
    </app-combobox>
    <app-number-input class="item" formControlName="numberInput"  align="left" label="금액왼쪽입력"></app-number-input>
    <app-number-input class="item" formControlName="numberInput2"  align="left" label="금액"></app-number-input>



    <app-button  class="item" label="저장"  color="primary"  icon="fas fa-save"  (clicked)="onSave()"/>
    <app-button   label="삭제"  color="danger"  icon="fas fa-trash"  [disabled]="true"  (clicked)="onDelete()"/>
    <app-datepicker label=""  locale="id" [(value)]="selectedDate"/>

</div>

<div class="group">
<app-customer-search
    class="item"
    label=""
    [id_width]="'100px'"
    [name_width]="'300px'"
    formControlName="customer"
    (customerSelected)="onCustomerSelected($event)"
    (searchRequested)="onCustomerSearchRequested($event)">
</app-customer-search>
</div>
<!-- 마스크 입력 컴포넌트 예시들 -->
<app-mask-input
    class="item"
    label="전화번호"
    mask="000-0000-0000"
    placeholder="010-1234-5678"
    width="200px"
    formControlName="phone">
</app-mask-input>



<!-- 파일 업로드 컴포넌트 예시들 -->
    <app-file-upload
        class="item"
        label="문서 업로드"
        [multiple]="true"
        acceptedTypes=".pdf,.doc,.docx,.xls,.xlsx"
        [maxFiles]="3"
        [maxFileSize]="5242880"
        width="100%"
        height="150px"
        formControlName="documents"
        (filesSelected)="onFilesSelected($event)"
        (uploadComplete)="onUploadComplete($event)">
    </app-file-upload>

    <app-file-upload
        class="item"
        label="이미지 업로드"
        [multiple]="false"
        acceptedTypes="image/*"
        [maxFiles]="1"
        [maxFileSize]="2097152"
        width="300px"
        height="200px"
        [showPreview]="true"
        formControlName="profileImage"
        (filesSelected)="onImageSelected($event)">
    </app-file-upload>

</form>

<!-- Excel 스타일 그리드 예시 -->
<!-- <div class="grid-section"> -->
<div class="group">
    <h3>고객 목록 (Excel 스타일 그리드)</h3>
    <app-grid
        [columns]="gridColumns"
        [data]="gridData"
        [selectable]="true"
        [enablePagination]="true"
        [pageSize]="10"
        [virtualScroll]="false"
        width="100%"
        height="400px"
        (rowClick)="onGridRowClick($event)"
        (rowDoubleClick)="onGridRowDoubleClick($event)"
        (selectedRowsChange)="onGridSelectionChange($event)">
    </app-grid>
</div>

<!-- 이미지 뷰어 데모 섹션 -->
<div class="group">
    <h3>이미지 뷰어 데모</h3>
    
    <!-- 이미지 뷰어 컨트롤 -->
    <div class="image-viewer-controls">
        <app-button 
            label="이미지 갤러리 열기" 
            color="primary" 
            icon="fas fa-images"
            (clicked)="openImageViewer(0)">
        </app-button>
        
        <app-button 
            label="두 번째 이미지부터 열기" 
            color="secondary" 
            icon="fas fa-image"
            (clicked)="openImageViewer(1)">
        </app-button>
        
        <app-button 
            label="샘플 이미지 추가" 
            color="success" 
            icon="fas fa-plus"
            (clicked)="addSampleImage()">
        </app-button>
        
        <app-button 
            label="이미지 목록 초기화" 
            color="danger" 
            icon="fas fa-refresh"
            (clicked)="resetImageList()">
        </app-button>
    </div>
    
    <!-- 썸네일 미리보기 -->
    <div class="thumbnail-preview" *ngIf="imageViewerImages && imageViewerImages.length > 0">
        <h4>이미지 목록 ({{ imageViewerImages.length }}개)</h4>
        <div class="thumbnail-grid">
            <div class="thumbnail-item" 
                 *ngFor="let image of imageViewerImages; let i = index"
                 (click)="openImageViewer(i)">
                <img [src]="image.src" [alt]="image.alt" loading="lazy">
                <div class="thumbnail-overlay">
                    <i class="fas fa-search-plus"></i>
                    <span>{{ image.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 이미지 뷰어 컴포넌트 -->
<app-image-viewer
    [images]="imageViewerImages"
    [currentIndex]="imageViewerCurrentIndex"
    [isVisible]="imageViewerVisible"
    [config]="imageViewerConfig"
    (close)="closeImageViewer()"
    (indexChange)="onImageViewerIndexChange($event)"
    (imageLoad)="onImageLoad($event)"
    (imageError)="onImageError($event)">
</app-image-viewer>
