<!-- 페이지 타이틀 컴포넌트 사용 예시 -->
<app-page-title
    title="대시보드"
    subtitle="시스템 현황 및 주요 기능을 확인할 수 있습니다"
    icon="fas fa-tachometer-alt"
    size="small">
</app-page-title>

<form [formGroup]="form">
<div class="container">

    <app-input class="item" label="이메일" placeholder="example@email.com" formControlName="email" ></app-input>
    <app-combobox
        class="item"
        formControlName="country"
        [options]="countries"
        placeholder="Select country"
        (selectionChange)="onCountryChanged($event)">
    </app-combobox>
    <app-number-input class="item" formControlName="numberInput"  align="left" label="금액왼쪽입력"></app-number-input>
    <app-number-input class="item" formControlName="numberInput2"  align="left" label="금액"></app-number-input>



    <app-button  class="item" label="저장"  color="primary"  icon="fas fa-save"  (clicked)="onSave()"/>
    <app-button   label="삭제"  color="danger"  icon="fas fa-trash"  [disabled]="true"  (clicked)="onDelete()"/>
    <app-datepicker label="날짜 선택"  locale="id" [(value)]="selectedDate"/>



</div>
<app-customer-search
    class="item"
    label=""
    [width]="'100px'"
    formControlName="customer"
    (customerSelected)="onCustomerSelected($event)"
    (searchRequested)="onCustomerSearchRequested($event)">
</app-customer-search>

<!-- 마스크 입력 컴포넌트 예시들 -->
<app-mask-input
    class="item"
    label="전화번호"
    mask="000-0000-0000"
    placeholder="010-1234-5678"
    width="200px"
    formControlName="phone">
</app-mask-input>



<!-- 파일 업로드 컴포넌트 예시들 -->
    <app-file-upload
        class="item"
        label="문서 업로드"
        [multiple]="true"
        acceptedTypes=".pdf,.doc,.docx,.xls,.xlsx"
        [maxFiles]="3"
        [maxFileSize]="5242880"
        width="100%"
        height="150px"
        formControlName="documents"
        (filesSelected)="onFilesSelected($event)"
        (uploadComplete)="onUploadComplete($event)">
    </app-file-upload>

    <app-file-upload
        class="item"
        label="이미지 업로드"
        [multiple]="false"
        acceptedTypes="image/*"
        [maxFiles]="1"
        [maxFileSize]="2097152"
        width="300px"
        height="200px"
        [showPreview]="true"
        formControlName="profileImage"
        (filesSelected)="onImageSelected($event)">
    </app-file-upload>

</form>

<!-- Excel 스타일 그리드 예시 -->
<div class="grid-section">
    <h3>고객 목록 (Excel 스타일 그리드)</h3>
    <app-grid
        [columns]="gridColumns"
        [data]="gridData"
        [selectable]="true"
        [enablePagination]="true"
        [pageSize]="10"
        [virtualScroll]="false"
        width="100%"
        height="400px"
        (rowClick)="onGridRowClick($event)"
        (rowDoubleClick)="onGridRowDoubleClick($event)"
        (selectedRowsChange)="onGridSelectionChange($event)">
    </app-grid>
</div>
